<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Integration Solver</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
	<meta name="viewport" content="width=device-width">


  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="../static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="../static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet"> 
  <link href="../static/lib/animate/animate.min.css" rel="stylesheet"> 
  <link href="../static/lib/ionicons/css/ionicons.min.css" rel="stylesheet"> 
  <link href="../static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../static/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="../static/css/style.css" rel="stylesheet">

 
</head>

<body>
  <!--==========================
  Header
  ============================-->
  <header id="header">
	
    <div class="container">

      <div class="logo float-left">
        <!-- Uncomment below if you prefer to use an image logo -->
        <h1 class="text-light"><a href="#intro" class="scrollto"><span>Hello!</span></a></h1>
        <!-- <a href="#header" class="scrollto"><img src="img/logo.png" alt="" class="img-fluid"></a> -->
      </div>
	      
    </div>
	
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro" class="clearfix">
    <div class="container d-flex h-100">
      <div class="row justify-content-center align-self-center">
        <div class="col-md-6 intro-info order-md-first order-last">
          <h2>Rapid Solutions<br>for Your <span>Problems</span></h2>
          <div>
            <a href="#about" class="btn-get-started scrollto">Get Started</a>
          </div>
        </div>
  
        <div class="col-md-6 intro-img order-md-last order-first">
          <img src="../static/img/intro-img.svg" alt="" class="img-fluid">
        </div>
      </div>

    </div>
  </section><!-- #intro -->

  <main id="main">

    <!--==========================
      About Us Section
    ============================-->
    <section id="about">

      <div class="container">
        <div class="row">

          <div class="col-lg-5 col-md-6">
            <div class="about-img">
              <img src="../static/img/about-img.jpg" alt="">
            </div>
          </div>

          <div class="col-lg-7 col-md-6">
            <div class="about-content">
              <h2>Enter Equation as f(x)</h2>
              <h3>
			  <form action="/result" method="post">
			  <p>Enter Upper Lower Limit of Definite Integral.</p>
			  <table cellpadding="25" cellspacing="10" border="0">
			  <tr>
              <td><p>Upper Limit</td> <td><input name="upper" type="text" placeholder="Leave empty for indefinite"  /></p></td>
              </tr>
			  <tr>
			  <td><p>Enter Equation</td> <td><input name="function" type="text"  placeholder="f(x)" /></p><td>
			  </tr>
			  <tr>
			  <td><p>Lower Limit</td> <td><input  name="lower" type="text" placeholder="Leave empty for indefinite" /></p></td>
			  </tr>
			  </table>
			  <br/><br/><br/>
			  <!-- <input type="submit" value="next"/>  -->
			  <input type="image" src="../static/img/Media-play-icon.png"/>
			  </form>
			  </h3>
            </div>
          </div>
        </div>
      </div>

    </section><!-- #about -->

  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

  <!-- JavaScript Libraries -->
  <script src="../static/lib/jquery/jquery.min.js"></script>
  <script src="../static/lib/jquery/jquery-migrate.min.js"></script>
  <script src="../static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/lib/easing/easing.min.js"></script>
  <script src="../static/lib/mobile-nav/mobile-nav.js"></script>
  <script src="../static/lib/wow/wow.min.js"></script>
  <script src="../static/lib/waypoints/waypoints.min.js"></script>
  <script src="../static/lib/counterup/counterup.min.js"></script>
  <script src="../static/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="../static/lib/isotope/isotope.pkgd.min.js"></script>
  <script src="../static/lib/lightbox/js/lightbox.min.js"></script>
  <!-- Contact Form JavaScript File -->
  <script src="../static/contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="../static/js/main.js"></script>

</body>
</html>
